<div class="page-wrapper">
  <div class="preloader"></div>

  <header class="omed-header main-header">
    <div class="header-top">
      <div class="container">
        <div class="top-outer clearfix">
          <div class="top-right clearfix">
            <ul class="top-left">
              <li>
                <a href="tel:+1-(212)-305-2500"><span class="icon flaticon-phone-receiver"></span>Phone: +1 (212)
                  305-2500</a>
              </li>

              <li>
                <a href="#"><span class="icon flaticon-letter"></span><span
                    class="__cf_email__">info@omed.com</span></a>
              </li>
            </ul>
            <div class="nav-box language-wrp">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  EN
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="#">Arabic</a>
                  </li>
                  <li><a class="dropdown-item" href="#">French</a></li>
                </ul>
              </li>
            </div>
            <div class="nav-box search-omed">
              <a href="#modal-popup-2" class="xs-modal-popup"><i class="icon icon-search"></i></a>
            </div>

            <div class="cart-btn">
              <a href="#" class="flaticon-cart offset-side-bar cart-icon"><span class="total-cart">3</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="header-upper">
      <div class="container">
        <div class="xs-navbar clearfix">
          <div class="logo-outer">
            <div class="logo">
              <a href="#"><img src="../assets/images/logo.svg" alt="" title="" /></a>
            </div>
          </div>
          <nav class="omed-navbar">
            <button class="omed-menu-toggler xs-bold-menu">
              <div class="xs-gradient-group">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <span>
                Menu
              </span>
            </button>

            <div class="omed-menu-container omed-menu-offcanvas-elements">
              <ul class="omed-navbar-nav nav-alignment-dynamic">
                <li class="">
                  <a href="#">Home</a>
                </li>

                <li class="omed-dropdown-has">
                  <a href="#">Doctors</a>
                  <ul class="omed-dropdown omed-submenu-panel">
                    <li><a href="#">doctors Name</a></li>
                    <li><a href="#">doctors Name 2</a></li>
                  </ul>
                </li>

                <li><a href="#">Pharmacy</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>

              <div class="omed-nav-identity-panel">
                <h1 class="omed-site-title">
                  <a href="#" class="omed-nav-logo"><img src="../assets/images/logo.svg" alt="" title="" /></a>
                </h1>
                <button class="omed-menu-close omed-menu-toggler" type="button"><i class="icon icon-cross"></i></button>
              </div>
            </div>

            <div class="omed-menu-overlay omed-menu-offcanvas-elements omed-menu-toggler"></div>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <section class="banner-section" style="background-image: url(../assets/images/omed-banner.jpg);">
    <div class="banner-carousel owl-carousel owl-theme">
      <div class="slide-item">
        <div class="container xs-banner-container-parent">
          <div class="clearfix">
            <div class="banner-column col-lg-6 col-md-12 col-sm-12">
              <div class="title wow fadeInUp" data-wow-delay="250ms">We Care About Your Health</div>
              <h2 class="wow fadeInUp" data-wow-delay="500ms">More Than You Do!</h2>
              <p class="text wow fadeInUp" data-wow-delay="750ms">Join Our O-Med World as a..</p>
              <div class="link-box wow fadeInUp" data-wow-delay="1000ms">
                <a href="department.html" class="theme-btn btn-style-two"><i>Book Now</i> <span
                    class="arrow icon icon-arrow_right"></span></a>
              </div>
            </div>

            <div class="image">
              <img src="../assets/images/banner1.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="slide-item">
        <div class="container xs-banner-container-parent">
          <div class="clearfix">
            <div class="banner-column col-lg-6 col-md-12 col-sm-12">
              <div class="title wow fadeInUp" data-wow-delay="250ms">We Care About Your Health</div>
              <h2 class="wow fadeInUp" data-wow-delay="500ms">More Than You Do!</h2>
              <p class="text wow fadeInUp" data-wow-delay="750ms">Join Our O-Med World as a..</p>
              <div class="link-box wow fadeInUp" data-wow-delay="1000ms">
                <a href="department.html" class="theme-btn btn-style-two"><i>Book Now</i> <span
                    class="arrow icon icon-arrow_right"></span></a>
              </div>
            </div>

            <div class="image">
              <img src="../assets/images/banner2.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="slide-item">
        <div class="container xs-banner-container-parent">
          <div class="clearfix">
            <div class="banner-column col-lg-6 col-md-12 col-sm-12">
              <div class="title wow fadeInUp" data-wow-delay="250ms">We Care About Your Health</div>
              <h2 class="wow fadeInUp" data-wow-delay="500ms">More Than You Do!</h2>
              <p class="text wow fadeInUp" data-wow-delay="750ms">Join Our O-Med World as a..</p>
              <div class="link-box wow fadeInUp" data-wow-delay="1000ms">
                <a href="department.html" class="theme-btn btn-style-two"><i>Book Now</i> <span
                    class="arrow icon icon-arrow_right"></span></a>
              </div>
            </div>

            <div class="image">
              <img src="../assets/images/banner1.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="omed-booking">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-12">
          <h3>Book your Appointment <strong>Now</strong></h3>

          <a href="#" class="theme-btn btn-style-two main-booking"><i>Book Now</i> <span
              class="arrow icon icon-arrow_right"></span></a>
        </div>
        <div class="col-sm-8 col-md-8 col-xs-12">
          <div class="row">


            <ul class="mcd-menu">
              <li>
                <a class="option" href="#">
                  <i><img src="../assets/images/doctor.png" alt="" /></i>
                  <small>Doctor</small>
                </a>
              </li>
              <li>
                <a class="option" href="#">
                  <i><img src="../assets/images/pharma.png" alt="" /></i>
                  <small>Pharmacy</small>
                </a>
              </li>
              <li class="float">
                <a class="search">
                  <input type="text" value="" placeholder="Search " />
                  <select id="Emirates">
                    <option value="hide">-- Emirates --</option>
                    <option value="">Dubai</option>
                    <option value="">Sharjah</option>
                    <option value="">Abu Dhabi</option>
                    <option value="">Ajman</option>
                    <option value="">Rak</option>
                  </select>
                  <button><i class="icon icon-search"></i></button>
                </a>
                <a href="" class="search-mobile">
                  <i class="fa fa-search"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul class="social-media">
    <li>
      <a href="#"><i class="fab icon icon-facebook" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab icon icon-twitter" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab icon icon-linkedin" aria-hidden="true"></i></a>
    </li>

    <li>
      <a href="#"><i class="fab icon icon-youtube" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab icon icon-instagram" aria-hidden="true"></i></a>
    </li>
  </ul>
</div>

<div class="xs-sidebar-group cart-group">
  <div class="xs-overlay xs-bg-black"></div>
  <div class="xs-sidebar-widget">
    <div class="sidebar-widget-container">
      <div class="widget-heading media">
        <div class="media-body">
          <a href="#" class="close-side-widget">
            <span class="icon icon-cross"></span>
          </a>
        </div>
      </div>
      <div class="xs-empty-content">
        <div class="cart-product">
          <div class="inner">
            <div class="cross-icon"><span class="icon icon-cross"></span></div>
            <div class="image"><img src="assets/images/p1.png" alt="" /></div>
            <h3><a href="shop-single.html">Treatment One</a></h3>
            <div class="quantity-text">Quantity 1</div>
            <div class="price">$39.00</div>
          </div>
        </div>

        <div class="cart-product">
          <div class="inner">
            <div class="cross-icon"><span class="icon icon-cross"></span></div>
            <div class="image"><img src="assets/images/p2.png" alt="" /></div>
            <h3><a href="shop-single.html">Treatment Two</a></h3>
            <div class="quantity-text">Quantity 1</div>
            <div class="price">$69.00</div>
          </div>
        </div>

        <div class="cart-product">
          <div class="inner">
            <div class="cross-icon"><span class="icon icon-cross"></span></div>
            <div class="image"><img src="assets/images/p3.png" alt="" /></div>
            <h3><a href="shop-single.html">Treatment Three</a></h3>
            <div class="quantity-text">Quantity 1</div>
            <div class="price">$99.00</div>
          </div>
        </div>
        <p class="xs-btn-wraper">
          <a class="btn btn-style-three" href="#">Return To Shop</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="zoom-anim-dialog mfp-hide modal-searchPanel" id="modal-popup-2">
  <div class="xs-search-panel">
    <form action="#" method="POST" class="xs-search-group">
      <input type="search" class="form-control" name="search" id="search" placeholder="Search" />
      <button type="submit" class="search-button"><i class="icon icon-search"></i></button>
    </form>
  </div>
</div>